.avt_user{
    border-radius: 50%;
    object-fit: cover;
}
.btn-mannhan{
    padding: 0.5em;
    display: inline-block;
    color: #000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
}
.btn-mannhan:hover{
    color: rgb(219, 114, 114);
    background-color: rgb(245, 245, 245);
}

.btn-manhotrou{
    padding: 0.5em;
    display: inline-block;
    color: #000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
}
.btn-manhotrou:hover{
    color: rgb(219, 114, 114);
    background-color: rgb(245, 245, 245);
}
button{
    padding: 2px;
  }



