.avt_user{
    border-radius: 50%;
    object-fit: cover;
}
.btn-mannhan{
    padding: 0.5em;
    border: 1px solid #333;
    display: inline-block;
    color: #000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.btn-mannhan:hover{
    color: rgb(219, 114, 114);
    background-color: rgb(245, 245, 245);
}

.btn-manhotrou{
    padding: 0.5em;
    border: 1px solid #333;
    display: inline-block;
    color: #000;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.btn-manhotrou:hover{
    color: rgb(219, 114, 114);
    background-color: rgb(245, 245, 245);
}



